In [1]:
import pandas as pd
df = pd.read_excel("Interests.xlsx")
df.shape

(7866, 9)

In [2]:
df.head()

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,Date,Domain Source
0,11-1011.00,Chief Executives,1.B.1.a,Realistic,OI,Occupational Interests,1.33,06/2008,Analyst
1,11-1011.00,Chief Executives,1.B.1.b,Investigative,OI,Occupational Interests,2.00,06/2008,Analyst
2,11-1011.00,Chief Executives,1.B.1.c,Artistic,OI,Occupational Interests,2.67,06/2008,Analyst
3,11-1011.00,Chief Executives,1.B.1.d,Social,OI,Occupational Interests,3.67,06/2008,Analyst
4,11-1011.00,Chief Executives,1.B.1.e,Enterprising,OI,Occupational Interests,7.00,06/2008,Analyst

In [10]:
df.Title.value_counts()

Chief Executives                                                            9
Medical Secretaries and Administrative Assistants                           9
Public Safety Telecommunicators                                             9
Dispatchers, Except Police, Fire, and Ambulance                             9
Meter Readers, Utilities                                                    9
                                                                           ..
Career/Technical Education Teachers, Middle School                          9
Secondary School Teachers, Except Special and Career/Technical Education    9
Career/Technical Education Teachers, Secondary School                       9
Special Education Teachers, Preschool                                       9
Tank Car, Truck, and Ship Loaders                                           9
Name: Title, Length: 874, dtype: int64

In [11]:
grp = df.Title.value_counts()
grp.plot.bar(x='index', y='values')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [18]:
df.columns = ['soc_id','title','eid', 'ename', 'sid','sname','']

In [19]:
df.head()

,soc_id,title,example,com_code,com_title
0,11-1011.00,Chief Executives,10-key calculators,44101809,Desktop calculator
1,11-1011.00,Chief Executives,Desktop computers,43211507,Desktop computers
2,11-1011.00,Chief Executives,Laptop computers,43211503,Notebook computers
3,11-1011.00,Chief Executives,Personal computers,43211508,Personal computers
4,11-1011.00,Chief Executives,Personal digital assistants PDA,43211504,Personal digital assistant PDAs or organizers

In [20]:
df.to_csv("tools_used.csv", index = False)